@import "reset";
@import "function";


html {
  height: 100%; }

body {
  height: 100%; }
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent; }

.tool-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  .iconfont {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #ddd;
      top: 0;
      right: 0;
      transform: scaleX(0.5); }
    }
    &:last-child:after {
      display: none;
     }
  }
.icon-palette{
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 30px;
  line-height: 30px;
}

.palette{
  position: absolute;
  bottom: 56px;
  right: 0;
  height: 30px;
  width: 0;
  transition: width .5s ease-in-out;
  padding:0 60px 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  .bar{
    width: 100%;
    height: 20px;
    padding:5px 2px;
    border-radius: 5px;
    animation: show-left .5s ease-in-out;
    overflow: auto;
    background-color: #fff;
  }
  .scroll{
    @include clearfix;
    width: 494px;
  }
  .item{
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
    margin: 0 2px;
    border-radius: 4px;
  }
}

.palette-show{
  width: 100%;
  .bar{
    border: 1px solid #dfdfdf;
  }
}
@keyframes show-left {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1
  }
}

.red{
  background-color: #f44336;
}
.pink{
  background-color: #e91e63;
}
.purple{
  background-color: #9c27b0;
}
.deep-purple{
  background-color: #673ab7;
}
.indigo{
  background-color: #3f51b5;
}
.blue{
  background-color: #2196f3;
}
.light-blue{
  background-color: #03a9f4;
}
.cyan{
  background-color: #00bcd4;
}
.teal{
  background-color: #009688;
}
.green{
  background-color: #4caf50;
}
.light-green{
  background-color: #8bc34a;
}
.lime{
  background-color: #cddc39;
}
.yellow{
  background-color: #ffeb3b;
}
.amber{
  background-color: #ffc107;
}
.orange{
  background-color: #ff9800;
}
.deep-orange{
  background-color: #ff5722;
}
.brown{
  background-color: #795548;
}
.grey{
  background-color: #9e9e9e;
}
.blue-grey{
  background-color: #607d8b;
}
.black{
  background-color: #000;
}
