* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  height: 100%; }

body {  
  height: 100%; }

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent; }

.tool-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd; }
.tool-bar i {
  flex: 1;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative; }
.tool-bar i:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ddd;
  top: 0;
  right: 0;
  transform: scaleX(0.5); }
.tool-bar i:last-child:after {
  display: none; }
